.visible {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.hidden {
  opacity: 0;
  transform: scale(0.5);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
