.base {
  transition:
    opacity 0.7s cubic-bezier(0.16, 1, 0.3, 1) var(--delay, 0s),
    transform 0.7s cubic-bezier(0.16, 1, 0.3, 1) var(--delay, 0s);
}

.visible {
  opacity: 1;
  transform: none;
}

.hidden {
  opacity: 0;
}

.dirUp.hidden {
  transform: translateY(40px);
}

.dirDown.hidden {
  transform: translateY(-40px);
}

.dirLeft.hidden {
  transform: translateX(40px);
}

.dirRight.hidden {
  transform: translateX(-40px);
}

.dirNone.hidden {
  transform: none;
}
